
NODE_ENV=development
PORT=3001

PG_USER=your_postgres_user
PG_PASSWORD=your_postgres_password
PG_DB=your_database_name
PG_HOST=postgres
PG_PORT=5432

AZURE_STORAGE_ACCOUNT_NAME=account
AZURE_STORAGE_CONTAINER_NAME=container

JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispass
