
NODE_ENV=development
PORT=3000

PG_USER=your_postgres_user
PG_PASSWORD=your_postgres_password
PG_DB=your_database_name
PG_HOST=localhost
PG_PORT=3333

MINIO_USER=your_minio_user
MINIO_PASSWORD=your_minio_password
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=your_bucket_name

JWT_SECRET=your_jwt_secret_key